<div class="game-card">
  <div class="banner thursday" *ngIf="isThursdayNight">
    Thursday Night Football
  </div>
  <div class="banner saturday" *ngIf="isSaturdayNight">
    Saturday Night Football
  </div>
  <div class="banner sunday" *ngIf="isSundayNight">Sunday Night Football</div>
  <div class="banner monday" *ngIf="isMondayNight">Monday Night Football</div>
  <div class="teams">
    <button
      class="team"
      [class.selected]="selectedTeam === game.awayTeamName"
      (click)="selectTeam(game.awayTeamName)"
    >
      {{ game.awayTeamName }}
    </button>

    <span class="vs">at</span>

    <button
      class="team"
      [class.selected]="selectedTeam === game.homeTeamName"
      (click)="selectTeam(game.homeTeamName)"
    >
      {{ game.homeTeamName }}
    </button>
  </div>

  <div class="details">
    <div>{{ game.locationName }}</div>
    <div>{{ gameDayNameCst }}</div>
  </div>
</div>
